tqdm==4.66.5
graphdatascience==1.10
python-dotenv==1.0.1


gliner >= 0.2
gliner_spacy >= 0.0
glirel >= 0.1
lancedb >= 0.11
networkx >= 3.3
pyvis >= 0.3
requests >= 2.32
spacy >= 3.7
tqdm >= 4.66

# spaCy language model
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl

# GLiREL has a PR to fix this omitted dependency
datasets >= 2.20
